# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE and editor files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Dependency directories
vendor/

# Go build cache
go-build/

# Go module files
go.sum

